.header {
  position: fixed;
  background-color: var(--color-blue-dark-1);
  padding: var(--padding-xl);
  right: 0;
  left: var(--sidebar-width-sm);
  top: 0;
  z-index: var(--z-index);
  backface-visibility: hidden;
}

.header__top_left {
  display: flex;
}

.header__top_right {
  line-height: var(--line-height-lg);
  display: flex;
  place-content: flex-end;
}

.header__top_search {
  position: relative;
  display: flex;
  display: inline-block;
  width: 100%;
  max-width: var(--max-width-lg);
}

.header__top_trend {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: var(--width-p-35);
  padding-left: var(--padding-left-xl);
}

@media (max-width: 1600px) {
  .header {
    padding: var(--padding-lg);
  }
}
