:root {
  // colors
  --color-blue-dark-1: #1b2039;

  // fixed sizes
  --sidebar-width-sm: 6.125rem;
  --sidebar-width-xl: 10rem;

  // spacing
  --padding-xl: 20px 50px;
  --padding-lg: 20px 30px;
  --padding-left-xl: 2.5rem;

  // width
  --max-width-lg: 395px;
  --width-p-35: 35%;

  // line height
  --line-height-lg: 40px;

  // z index
  --z-index: 1000;
}
