:root {
  // colors
  --color-blue-dark-1: #1b2039;
  --color-blue-dark-2: #14182a;
  --color-bg-primary: #3bc8e7;
  --color-bg-primary-2: #2cc8e5;
  --color-text-grey-1: #777777;
  --color-text-grey-2: #dedede;
  --color-divider-blue: #252b4d;

  // fixed sizes
  --sidebar-width-sm: 6.125rem;
  --sidebar-width-md: 80px;
  --sidebar-width-xl: 10rem;

  // font
  --default-font: 'Josefin Sans', sans-serif;

  // spacing
  --padding-xl: 20px 50px;
  --padding-lg: 20px 30px;
  --padding-left-xl: 2.5rem;
  --padding-section-xl: 5rem;
  --padding-md: 1.4rem;

  // width & height
  --max-width-lg: 395px;
  --width-p-35: 35%;
  --music-player-footer-height: 75px;

  // line height
  --line-height-lg: 2.5rem;
  --line-height-md: 2rem;
  --line-height: 1.2;

  // z index
  --z-index: 1000;

  // border radius
  --border-radius-sm: 5px;
  --border-radius-md: 10px;
  --border-radius-lg: 20px;

  // font sizes
  --font-h1: 45px;
  --font-h2: 28px;
  --font-h3: 18px;
  --font-h3-sm: 16px;
  --font-h4: 15px;
  --font-icon-sm: 14px;
}
