.section__heading {
  font-size: var(--font-h3);
  position: relative;
  display: inline-block;
  padding-bottom: 10px;
  text-transform: capitalize;

  margin-bottom: 1rem;
  font-family: var(--default-font);
  font-weight: 600;
  line-height: var(--line-height);
  color: var(--color-bg-primary);

  &::after {
    width: 100px;
    height: 5px;
    content: "";
    position: absolute !important;
    bottom: 0;
    left: -15px;
    z-index: 0;
    background: -webkit-radial-gradient(50% 50%, ellipse closest-side, #3bc8e7, rgba(255, 42, 112, 0) 60%);
  }
}
.section__more {
  font-family: var(--default-font);
  font-size: 15px;
  text-transform: capitalize;
  transition: all 0.5s;

  &:hover {
    color: var(--color-bg-primary);
  }
}
.section__p {
  font-family: var(--default-font);
  color: var(--color-text-grey-2);
  font-size: 14px;
  margin: 0px;
}
.section__card {
  @apply flex flex-col content-start justify-center basis-1/4 border-0;
  border-radius: var(--border-radius-md);
  overflow: hidden;
  position: relative;
}
.play__overlay {
  position: absolute;
  top: 0;
  height: 85%;
  width: 100%;
  left: 0;
  opacity: 0;
  transition: all 0.2s;
}
.box__overlay {
  position: absolute;
  border-radius: 10px;
  top: 0;
  background-image: -webkit-linear-gradient(
    90deg, rgb(22, 26, 46) 0%, rgb(237, 63, 179) 0%, rgb(59, 200, 231) 0%, rgba(32, 167, 196, 0) 100%
  );
  height: 100%;
  width: 100%;
  left: 0;
  transition: all 0.2s;
  cursor: pointer;
}
.more__icon {
  top: -10px;
  position: absolute;
  right: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
}
.play__icon {
  position: absolute;
  top: 90%;
  left: 50%;
  z-index: 10;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  i {
    font-size: 80px;
  }
}

.section__card:hover .play__overlay {
  opacity: 1;
}

.section__card:hover .play__icon {
  top: 50%;
}

.section__card:hover .more__icon {
  top: 10px;
}
