.header {
  position: fixed;
  background-color: var(--color-blue-dark-1);
  padding: var(--padding-xl);
  right: 0;
  left: var(--sidebar-width-sm);
  top: 0;
  z-index: var(--z-index);
  backface-visibility: hidden;
}

.header__top_left {
  display: flex;
  flex: 1;
}

.header__top_right {
  line-height: var(--line-height-lg);

  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 2rem;
}

.header__top_trend {
  display: flex;
  align-items: center;

  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  padding-left: var(--padding-left-xl);
}

.header__language {
  color: #fff;
  text-transform: capitalize;
  cursor: pointer;
  padding-right: var(--padding-md);
  position: relative;

  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;

  &::after {
    position: absolute;
    background-color: #cdcdcd;
    height: 30px;
    width: 2px;
    content: "";
    right: 6px;
    top: 6px;
  }
}

@media (max-width: 1600px) {
  .header {
    padding: var(--padding-lg);
  }
}

@media (max-width: 992px) {
  .header {
    padding: 10px 30px 10px;
  }
  .header__top_trend {
    display: none;
  }
  .header__language {
    padding-right: var(--padding-sm);
    &::after {
      height: 0;
    }
  }
}

@media (max-width: 500px) {
  .header__language {
    display: none;
  }
}